<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">blah</h2>-->
    
    <div class="footer-col-wrapper">

      <div class="latest-list">
        <ul class="latest-subhead">
          <h4>latest blog entries</h4>
          <li class="">We did a redesign...</li>
          <li>Gratuitous octopus niacin, sodium glutimate. Quate mein an estimate et non interuptus stadium.</li>
        </ul>
      </div>

      <div class="recent-list">
        <ul class="recent-subhead">
          <h4>recent comments</h4>
          <li class="blah2">We did a redesign...</li>
          <li>Gratuitous octopus niacin, sodium glutimate. Quate mein an estimate et non interuptus stadium.</li>
        </ul>
      </div>
      
      <div class="adver-list">
        <ul class="adver-subhead">
          <h4>advertising</h4>
          <li class="blah3">We did a redesign...</li>
          <li>Gratuitous octopus niacin, sodium glutimate. Quate mein an estimate et non interuptus stadium.</li>
        </ul>
      </div>
      
      <div class="tweet-list">
          <ul class="tweet-subhead">
          <h4>tweeter stuff</h4>
        </ul>
      </div> 

    </div>
  </div>

  <div class="bottom-footer">
    <div class="bottom-foot-cont"><span class="wdim-bold">WDIM268</span> Copyright 2009. All rights reserved. Valid (X)HTML/CSS.
  
      <div class="bottom-footer-link">
        <a class="page-link" href="">home</a>
        <a class="page-link" href="">about</a>
        <a class="page-link" href="">services</a>
        <a class="page-link" href="">portfolio</a>
        <a class="page-link" href="">blog</a>
        <a class="page-link" href="">contact</a>
        <a class="page-link" href="">pricing</a>
      </div>

    </div>
  </div>

</footer>
