
/**
 * The Site Header
 */
@font-face {
    font-family: 'fertigo_proregular';
    src: url('../fonts/Fertigo_PRO-webfont.eot');
    src: url('../fonts/Fertigo_PRO-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Fertigo_PRO-webfont.woff2') format('woff2'),
         url('../fonts/Fertigo_PRO-webfont.woff') format('woff'),
         url('../fonts/Fertigo_PRO-webfont.ttf') format('truetype'),
         url('../fonts/Fertigo_PRO-webfont.svg#fertigo_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

 @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);


.head_search {
    float: right;
    max-width: 100%;
}

.site-header {
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    -webkit-box-shadow: -1px 2px 1px 1px rgba(41,41,41,0.20);
    -moz-box-shadow: -1px 2px 1px 1px rgba(41,41,41,0.20);
    box-shadow: -1px 2px 1px 1px rgba(41,41,41,0.20);

    /*BACKGROUND COLOR*/
    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(left, #cccccc 0%, #eeeeee 49%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cccccc), color-stop(49%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #cccccc 0%,#eeeeee 49%,#cccccc 100%); /* Chrome10+,Safari5.1+ */

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.open-heading, {
    margin-bottom: 0;
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;

    .wdim268 {
        color: #e6ecef;
        background-color: #292929;
        border-radius: 4px;
        padding: 4px;
        font-weight: 700; 
    }

    .final {
        font-family: 'fertigo_proregular';
        font-outline: 1px solid #bfbfbf;
        -webkit-text-fill-color: white;
        text-shadow: -1px 1px 0 #A7A7B8, 
            1px 0px 0px #a7a7a7, 
            -1px -1px 0 #a7a7a7, 
            1px -1px 0px #a7a7a7;
    }
}

.top-heading {
    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(left, #cccccc 0%, #eeeeee 49%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cccccc), color-stop(49%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #cccccc 0%,#eeeeee 49%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
}

/*Login information*/
.trigger-right {
    float: right;
    line-height: 56px;
    text-transform: uppercase;
    font-size: 9px;
    color: #000000;
    text-decoration: none;

    a:hover {
        text-decoration: none;
    }
}

.site-nav {
    float: left;
    line-height: 56px;
    text-transform: uppercase;
    font-size: 9px;

    .menu-icon {
        display: none;
    }
    
    a:hover {
        color: #282828;
        background-color: rgb(246, 168, 54);
        padding: 4px;
        border: 1px solid rgb(162, 103, 19);
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        text-decoration: none;
        
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;


        }
    }
}

.sign-up {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
    background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
    background-color:#63b8ee;
    -webkit-border-top-left-radius:4px;
    -moz-border-radius-topleft:4px;
    border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-radius-topright:4px;
    border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    border-bottom-left-radius:4px;
    text-indent:0px;
    border:1px solid #3866a3;
    display:inline-block;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed';
    font-size:14px;
    height:27px;
    line-height:30px;
    width:65px;
    text-decoration:none;
    text-align:center;
    margin-left: 10px;
}

/*sign up button*/

.sign-up:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
    background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
    color: #FFFFFF;
}

.sign-up:active {
    position:relative;
    top:1px;
    color: #FFFFFF;
}

.sign-up:visited {
    color: #FFFFFF;
}


/**
 * Site footer
 */
.bottom-footer {
    background-color: #dcdcda;
    width: 100%;
    position: absolute;
}

.bottom-foot-cont {
  background-color: #dcdcda;
  max-width: calc(800px - 30px * 2);
  margin-right: auto;
  margin-left: auto;
  padding: 10px 30px 10px 30px;
  font-size: 9px;
  color: #848484;
    
  .wdim-bold {
    font-weight: bold;
  }
}

.bottom-footer-link {
  float: right;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;

    .page-link {
      margin-left: 10px;
    }

    a:hover {
      text-decoration: none;
      color: #000000;
      font-weight: bold;
    }

    a:visited {
      color: #939597;
    }
}

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: #4b4d4a;
    border-top: 5px solid #dcdcda; 
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

/*the footer lists*/
/*LATEST*//////
.latest-list {
  margin-left: -30px;
  float: left;
  width: 215px;
  padding-right: 10px;
  padding-bottom: 20px;

  .latest-subhead {
    list-style: none;
  }
}

.latest-img,
.recent-img {
  padding: 5px 5px 5px 0px;
  display: inline-block;
}

.latest-head, {
  padding-top: 7px;
}

.latest-text, {
  float: left;
  display: inline-block;
  color: #FFFFFF;
}

/*RECENT*//////
.recent-list {
  margin-left: -30px;
  float: left;
  width: 215px;
  padding-right: 10px;

  .recent-subhead {
    list-style: none;
  }
}

.recent-text {
  display: inline-block;
  color: #FFFFFF;
  padding-left: 30px;
}

.lowercase {
  font-weight: normal;
}

/*ADVER*//////
.adver-list {
  margin-left: -30px;
  float: left;
  width: 200px;
  padding-right: 10px;


  .adver-subhead {
    list-style: none;
  }
}

.ad-pics {
    border: 3px solid #FFFFFF;
    margin: 5px 5px 5px 0px;
    width: 40%;
    float: left;
}

/*TWITTER*//////
.tweet-list {
   margin-left: -30px;
   float: left;
   padding-right: 10px;

    .tweet-subhead {
      list-style: none;
    }
}

.tweet_bub {
    width: 14%;
    float: right;
    position: absolute;
}

.tweet_bird {
    position: relative;
    width: 95px;
    left: 40px;
    top: 100px;
}

.tweet {
    position: absolute;
}

.tweet_link {
    font-size: 8px;
}

.latest-list,
.recent-list,
.adver-list,
.tweet-list {

  h4 {
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Open Sans Condensed';
    color: #FFFFFF;
    letter-spacing: .7px;
    margin-left: 30px;
  }
}

.latest-head,
.recent-head,
.adver-head, {
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
}

.recent-head {
    padding-top: 7px;
}

/*the footer lists*/

.footer-head {
  list-style: none;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    /*margin-left: -$spacing-unit / 2;*/
    @extend %clearfix;

    li {
      font-size: 10px;
    }
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3,
    .footer-col-4 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding-bottom: $spacing-unit 0;
    overflow: hidden;

    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(top,  #cccccc 0%, #f7f7f7 49%, #ffffff 101%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(49%,#f7f7f7), color-stop(101%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cccccc 0%,#f7f7f7 49%,#ffffff 101%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cccccc 0%,#f7f7f7 49%,#ffffff 101%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cccccc 0%,#f7f7f7 49%,#ffffff 101%); /* IE10+ */
    background: linear-gradient(to bottom,  #cccccc 0%,#f7f7f7 49%,#ffffff 101%); /* W3C */

    /*BACKGROUND COLOR*/

}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.blue {
    -webkit-box-shadow: inset 0px -2px 1px 1px rgba(41,41,41,0.20);
    -moz-box-shadow: inset 0px -2px 1px 1px rgba(41,41,41,0.20);
    box-shadow: inset 0px -2px 1px 1px rgba(41,41,41,0.20);

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    background: radial-gradient(circle, #59c1ff, #0089ba);
}

.blue-content {
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    
    .home-banner {
        width: 45%;
        height: 45%;
        float: right;
        padding-left: 10px;
    }

    .blue-head {
        font-family: "Open Sans Condensed", sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: #FFFFFF;
        line-height: 45px;
    }

    .blue-sub {
        color: #FFFFFF;
        font-size: 15px;
        padding-top: 15px;

    }
}

.header-link {
    padding-top: 20px;
}

/*get a quote - button*/
.blue-quote {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #c4c4c4) );
    background:-moz-linear-gradient( center top, #ededed 5%, #c4c4c4 100% );
    background-color:#ededed;
    -webkit-border-top-left-radius:4px;
    -moz-border-radius-topleft:4px;
    border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-radius-topright:4px;
    border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    border-bottom-left-radius:4px;
    text-indent:0px;
    border:2px solid #f2f2f2;
    display:inline-block;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed';
    font-size:20px;
    text-transform: uppercase;
    height:29px;
    line-height:30px;
    width:130px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #FFFFFF;
    
}

.blue-quote:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c4c4c4), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #c4c4c4 5%, #ededed 100% );
    background-color:#c4c4c4;
    text-decoration: none;
}

.blue-quote:active {
    position:relative;
    top:1px;
    color: #FFFFFF;
}

.blue-quote:visited {
    color: #747373;
}

/*view portfolio*/
.blue-portfolio {
    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
    background-color:#ffc477;
    -webkit-border-top-left-radius:4px;
    -moz-border-radius-topleft:4px;
    border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-radius-topright:4px;
    border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    border-bottom-left-radius:4px;
    text-indent:0px;
    border:2px solid #eeb44f;
    display:inline-block;
    color: #000000;
    font-family: 'Open Sans Condensed';
    font-size:20px;
    text-transform: uppercase;
    height:29px;
    line-height:30px;
    width:130px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #cc9f52;
}

.blue-portfolio:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
    background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
    background-color:#fb9e25;
    text-decoration: none;
}

.blue-portfolio:active {
    position:relative;
    top:1px;
    color: #FFFFFF;
}

.blue-portfolio:visited {
    color: #FFFFFF;
}

/**WHITE PART OF HOME**/

.main_tab {

    height: 65px;
    margin-left: -85px;
    border-bottom: 1px solid #DDD;
    background: url("../images/back_header.png");
}

.home_content_figure {
    float: left;
    width: 50%;
    padding: 0px 10px 0px 0px;

    figcaption {
        font-family: 'Open Sans Condensed';
        padding-top: 5px;
        padding-bottom: 5px;

        span {
            font-style: italic;
            color: #227ab0;
        }
    }
}


.page-heading {
    font-weight: 700;
    color: #4b4d4a;
    font-size: 25px;
}

.home_list {
    float: left;
    width: 47%;
    margin-left: 10px;

    h2 {
        font-size: 17px;
    }
}
    
.main_ul {
    float: left;
    list-style: none;
    width: 47%;
    margin-left: 10px;
    font-size: 14px;
}

.li_check {
    background: url("../images/check_point.png");
    text-indent: 20px;
    background-repeat: no-repeat;
    background-position: left center;
}

.ul_content {
    float: left;
    font-size: 15px;
}

.main_quote {
    float: left;
    padding-bottom: 20px;
    padding-top: 40px;
}
/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;  

    h2 {
        color: #FFFFFF;
        font-size: 32px;


        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/*ABOUT PAGE*//////////

.about_sidebar {
    float: left;
    width: 25%;
    margin: 10px 40px 0px 0px;
    
}

.about_article {
    /*float: left;*/
    margin-right: 40px;
    margin-top: 5px;

    h2 {
        line-height: 15px;
        font-size: 21px;
        padding-bottom: 15px;
    }

    h3 {
        color: #d56b26;
        font-weight: 600;
    }

    p {
        color: #000000;
        font-size: 13px;
    }
}

.about_free {
    text-align: center;
    background-color: #f0f0f0;
    border-top: 1px solid rgba(134, 134, 134, 0.4);
    border-right: 1px solid rgba(134, 134, 134, 0.4);
    border-left: 1px solid rgba(134, 134, 134, 0.4);

    h3 {
        font-family: 'Open Sans Condensed', sans;
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 4px;
    }

    h4 {
        font-family: 'Open Sans Condensed', sans;
        font-size: 30px;
        color: #db8146;
        text-shadow: 1.5px 1.5px 2px rgba(52, 52, 52, .50);
        margin-bottom: 0px;
    }
}


.about_wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
    padding: 10px;
    background-color: #FFFFFF;
    overflow: hidden;


    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 0));
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

.about_nav {
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid rgba(134, 134, 134, 0.4);
    border-right: 1px solid rgba(134, 134, 134, 0.4);
    border-left: 1px solid rgba(134, 134, 134, 0.4);

    a {
        color: #000000;
    }

    ul {
        width: 130%;
        margin: -10px;
    }
}

.about_side_nav {
    list-style: none;
    color: #000000;
    /* padding-bottom: 20px; */
    text-transform: uppercase;
    text-decoration: none;
    /* margin-bottom: 20px; */
    height: 50px;
    line-height: 50px;
    text-indent: 30px;
    margin-right: 55px;
    width: 150%;

        a:hover {
        text-decoration: none;
    }
}

.about_side_nav:hover {
    background-image: url("../images/hover_side.png");
    background-repeat: no-repeat;

    a {
        color: #FFFFFF;
    }
}

.bottom_check {
    list-style: none;
    margin-left: 21px;
    font-size: 15px;
    line-height: 25px;
    padding-top: 10px;

    h4 {
        padding-top: 20px;
        color: #525551;
        font-weight: bold;
        line-height: 20px;

        span {
            font-weight: bold;
            color: #d05606;
        }
    }

    p {
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        height: 500px;
    }
}


/*PORTFOLIO*//////
.port_nav {
    padding-bottom: 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid rgba(134, 134, 134, 0.4);
    border-right: 1px solid rgba(134, 134, 134, 0.4);
    border-left: 1px solid rgba(134, 134, 134, 0.4);

    a {
        color: #000000;
    }

    ul {
        width: 130%;
        margin: -10px;
    }
}

.port_subhead {
    padding-bottom: 34px;
    padding-top: 19px;
}

.content_box_one {
    background-color: #f0f0f0;
    padding: 10px;
    float: left;
    overflow: hidden;
    width: 65%;
    padding-top: 20px;
    border: 1px solid rgba(134, 134, 134, 0.4);

    figure {
        float: left;
        margin-right: -25px;
    }
}

.content_box_text {
    h2 {
        color: #4b4d4a;
        font-size: 20px;
        line-height: 19px;
        font-weight: 700;
        margin-top: 15px;
        /* margin-left: -8px; */
        margin-bottom: 0px;
    }

    p {
        font-size: 10.5px;

        span {
            font-weight: bold;
            color: #db8146;
        }
    }
}

.port_one, {
    width: 85%;
}

.content_box_two {
    background-color: #f0f0f0;
    margin-top: 10px;
    padding: 10px;
    float: left;
    overflow: hidden;
    width: 65%;
    padding-top: 20px;
    border: 1px solid rgba(134, 134, 134, 0.4);

    figure {
        float: left;
        margin-right: 15px;
    }
}

.content_box_other {
    background-color: #f0f0f0;
    margin-top: 10px;
    padding: 12px;
    float: right;
    overflow: hidden;
    width: 65%;
    padding-top: 20px;
    border: 1px solid rgba(134, 134, 134, 0.4);
    padding-left: 12px;

    figure {
        float: left;
        margin-right: 15px;
    }
}

.box_head {
    font-weight: bold;
    color: #4b4d4a;

    p {
        font-size: 10.5px;
    }
}

.box_head_other {
    font-weight: bold;
    color: #4b4d4a;

    p {
        font-size: 10.5px;
    }
}

.port_layout {
    margin: 3px;

    p {
        font-size: 11px;
        padding-right: 5px;
    }
}

.port_layout_other {
    margin: 3px;

    p {
        font-size: 11px;
        padding-right: 5px;
    }
}

/*BLOG*//////
.reader {
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flickr {
    font-size: 8px;
    width: 130%;
    margin-bottom: 15px;
}

.flickr-pics {
    margin: 10px -30px 5px -10px;
    width: 38%;
    list-style: none;
    float: left
}

.blog-pics {
    margin: 1px 15px 5px -10px;
    width: 40%;
    float: left;
    list-style: none;
}

.blog_subhead {
    list-style: none;
    margin-bottom: 20px;
}

.blog_content {
    float: left;
    box-sizing: border-box;
    width: 69%;
    margin-bottom: 100px;
}

.blog_head {
    margin-top: 20px;
    font-weight: bold;
    color: #4b4d4a;
}

.blog_subhead {
    margin-top: 0px;
    font-size: 11px;
    color: #545653;

   .bold_blog {
        font-weight: bold;
        color: #db8146;
    }

   .date {
        font-style: italic;
    }
}

.blog_text, {
    font-size: 13px;
    color: #545653;
    margin-bottom: 15px;
    margin-right: 25px;
    text-decoration: none;
}

.read_more {
    text-decoration: none;
    color: #db8146;
    font-style: italic;
}

/*CONTACT*//////
.contact_nav {
    background-color: #f0f0f0;
    border-top: 1px solid rgba(134, 134, 134, 0.4);
    border-right: 1px solid rgba(134, 134, 134, 0.4);
    border-left: 1px solid rgba(134, 134, 134, 0.4);

    h3,{
        font-size: 14px;
        margin-bottom: 4px;
        /* margin-right: 10px; */
        padding: 20px;
    }
}

.contact_subhead {
    font-size: 14px;
    margin-bottom: 4px;   
    padding: 20px 0 20px 30px;

}

.contact_side_nav {
    color: #000000;
    text-indent: 30px;
    margin-right: 55px;
    width: 150%;
    font-size: 13px;

    h5 {
        font-weight: bold;
        margin-bottom: 2px;
    }

    p {
        font-size: 11px;
        margin-bottom: 5px;
    }
}

.orange {
    color: #db8146;
}

.con_p {
    font-size:  13px;
    line-height: 13px;
}

.form {
    input {
        font-style: italic;
        margin-bottom: 20px;
        width: 30%;
    }

    textarea {
        height: 150px;
        font-family: sans-serif;
        font-style: italic;
        width: 44%;
    }
}

.google {
    width: 50%;
    float: left;
    margin-right: 15px;
}

.google_text {
    font-size: 13px;
}

/*PRICING*//////

.price_div {
    float: left;
    width: 70%;
}

.cards {
    margin-top: 45px;
    float: right;
    width: 25%;
}

.card_text {
    font-weight: bold;
    color: #bfbebe;
}

.pricing_head {
    font-size: 20px;
    font-weight: 800;
}

.pricing_sub {
    color: #000000;
    font-size: 11px;
}

.price_article {
    /*float: left;*/
    margin-right: 40px;
    margin-top: 5px;

    h2 {
        line-height: 15px;
        font-size: 21px;
        padding-bottom: 15px;
    }
}

.table {
    width: 105%;
}

/*COLUMN PRICING*/

.column-options {
    border-collapse: collapse;
    border-bottom: 1px solid #d6d6d6;
    list-style: none;

    tbody {
        width: 50%;
    }
}

.column-options th, .column-options td {
    font-family: sans-serif;
    font-weight: normal;
    color: #434343;
    background-color: #f3f3f3;
    border-left:1px solid #ffffff;
    border-right:1px solid #dcdcdc;
    list-style: none;
}

.column-options th {
    font-size: 19px;
    font-weight: normal;
    letter-spacing: 2px;
    color: #848484;
    background-color: #f3f3f3;
    padding: 12px 0px 8px 0px;
    border-bottom: 1px solid #d6d6d6;
    list-style: none;
}

.column-options td {
    list-style: none;
    text-align: center;
    width: 50%;
    padding-top: 16px;
    font-size: 24px;

    ul {
        list-style: none;
   }
}

.li_odd {
    background-image: url("../images/x_box.png");
    background-repeat: no-repeat;
    background-position: left;
    text-indent: 20px;
}

.li_even {
    background-image: url("../images/check_point.png");
    background-repeat: no-repeat;
    background-position: left;
    text-indent: 20px;
}

.column-options .odd td {
    background-color: #ededed;
    font-size: 12px;
    line-height: 19px;
    text-align: left;
}

.column-options a.button {
    font-size: 13px;
    text-shadow: none;
    text-decoration: none;
    text-align:center;

    text-transform:uppercase;
    letter-spacing: 0.10em;
    color:#5C5C5C;

    border-radius: 5px;
    background-color: #grey;
    background: #ffffff; /* Old browsers */
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:50px;
    line-height:50px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;

    margin: 45px;
    display:block;}

.column-options a.button:hover {
    position:relative;
    top:1px;
    left:1px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}

.classname:active {
    position:relative;
    top:1px;
}
    
.price_sub {
    font-size: 10px;
}

.small_sub {
    font-size: 9px;
    color: #CECECE;
}

.big_orange {
    color: #d15806;
    font-weight: bold;
}

.price_cap {
    font-style: italic;
    padding-top: 15px;
    font-size: 11px;
    width: 80%;
}

.price_bot {
    h4 {
        font-size: 17px;
        font-weight: bold;
        color: #000000;
    }

    p {
        font-size: 12px;
        color: #000000;
        width: 80%;
    }
}